/* HEADER */

/* Header fixed top */
body {
  margin: 115px 0 0 0 ;
}

.fc-center {
  margin-top: 16px;
}

  /*Date central*/
.fc-toolbar h2 {
  color: #304163;
  font-size: larger;
  font-weight: 800;
  display: inline-block;
}

/* Jour & num font size */
.fc table {
  font-size: large;
}

/* Header position fixed */
.fc-toolbar.fc-header-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 3;
}

.fc th {
  border-width: 0;
}

.fc-head-container {
  position: fixed;
  top: 60px;
  background-color: white;
  z-index: 3;
}

/* GRID */

.fc-slats tr {
  position: relative;
  height: 50px;
}

.fc td {
  border-color: #e0e3ee;
}

/* Colonne des heures */
tr td.fc-axis.fc-time {
  border: 0;
  background-color: #f5f6fa;
  text-align: center;
}

tr td.fc-axis.fc-time span {
  position: relative;
  top: -26px;
  width: 56px;
  z-index: 2;
}

tr[data-time$="00:00"] td.fc-axis.fc-time::before {
  content: '';
  position: absolute;
  top: -29px;
  left: 4px;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid #304163;
  z-index: 1;
}

tr[data-time$="45:00"] td.fc-time::before,
tr[data-time$="30:00"] td.fc-time::before,
tr[data-time$="15:00"] td.fc-time::before {
  content: '';
  position: absolute;
  top: -19px;
  left: 15px;
  width: 34px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  z-index: 0;
}

/* Ligne blanche heure */
tr td.fc-axis.fc-time::after {
  content: '';
  position: absolute;
  width: 2px;
  background: white;
  left: 31px;
  z-index: 0;
  height: 100%;
  top: 0;
}

tr[data-time$="45:00"] td.fc-time span,
tr[data-time$="30:00"] td.fc-time span,
tr[data-time$="15:00"] td.fc-time span {
  top: -29px;
  font-size: x-small;
  font-weight: 800;
  color: #304163;
}

tr[data-time$="00:00"] td.fc-axis.fc-time span {
  font-size: medium;
  font-weight: 800;
  color: #304163;
}

tr[data-time^="08:00"] td.fc-axis.fc-time::before, tr[data-time^="08:00"] td.fc-axis.fc-time span {
  display: none;
}

.alert-info {
  background-color: white;
}

.fc-agenda-view .fc-day-grid .fc-row span {
  color: transparent;
}

.fc-day.fc-tue.fc-past {
  border: 0;
}

.table-bordered {
  border: 0;
}

.table-bordered > thead > tr > th {
  border: 0;
}

.table-bordered > thead > tr > td {
  border-bottom-width: 0;
}

.fc-head-container  {
  box-shadow: 0 5px 15px -13px rgba(0, 0, 0, 0.75);
}

.fc th::first-letter {
  color: lightgrey;
}

/* COLUMN */
/* Stripped Grid */
.fc-slats td:not(.fc-time) {
  background: repeating-linear-gradient(
    to right,
    #fff,
    #fff 14.25%,
    #f5f6fa 14.25%,
    #f5f6fa 28.55%
  ) !important;
  background-position-x: 0;
}

.fc-content .fc-time, .fc-content .fc-title {
  display: none;
}

.event-from-api {
  width: 5px;
  margin-right: 0;
}

.event-souhait {
  margin-left: 5px;
  margin-right: -2px;
  border: 0;
}

.fc-time-grid .fc-bgevent {
  left: 1px;
  right: 0;
  opacity: .8;
  border-radius: 4px;
}

/* BUTTONS */
.fc-state-default {
  border: 0;
  background: transparent none;
  text-shadow: 0;
  box-shadow: none;
  top: -2px;
}

.btn-profile {
  position: fixed;
  top: 8px;
  right: -4px;
  background-color: transparent;
  color: #304163;
  z-index: 4;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 50px 10px 10px;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}


