<div class="main">
  <button (click)="goToProfile()" class="btn btn-profile">
    <img src="../../../assets/img/user.svg" width="30"/>
  </button>

  <div *ngIf="totalHours && currentHours">
    <app-ratio [totalHours]="totalHours|async" [currentHours]="currentHours|async" class="ratio-position"></app-ratio>
  </div>

  <div *ngIf="calendarOptions !== null">
    <ng-fullcalendar #ucCalendar
                     [options]="calendarOptions"
                     (eventClick)="eventClick($event.detail.event)"
                     (eventDrop)="updateEvent($event.detail.event)"
                     (eventResize)="updateEvent($event.detail.event)">
    </ng-fullcalendar>
  </div>

  <div class="persist-btn-group">
    <button class="btn btn-persist"><span class="text-uppercase">enregistrer</span></button>
    <button class="btn btn-persist"><span class="text-uppercase">envoyer</span></button>
  </div>
</div>
