/* HEADER */

/* Header fixed top */
.main {
  margin: 115px 0 0 0;
}

.fc-center {
  margin-top: 16px;
}

/*Date central*/
.fc-toolbar h2 {
  color: #304163;
  font-size: larger;
  font-weight: bold;
  display: inline-block;
}

/* Jour & num font size */
.fc table {
  font-size: large;
}

/* Header position fixed */
.fc-toolbar.fc-header-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 3;
}

.fc th {
  border-width: 0;
}

.fc-head-container {
  position: fixed;
  top: 60px;
  background-color: white;
  z-index: 3;
}

.ratio-position {
  position: fixed;
  top: 63px;
  left: 10px;
  z-index: 2;
}

/* GRID */

.fc-slats tr {
  position: relative;
  height: 50px;
}

.fc td {
  border-color: #e0e3ee;
}

/* Colonne des heures */
tr td.fc-axis.fc-time {
  border: 0;
  background-color: #f5f6fa;
  text-align: center;
  position: relative;
}

tr td.fc-axis.fc-time span {
  position: relative;
  top: -26px;
  width: 56px;
  z-index: 2;
}

tr[data-time$="00:00"] td.fc-axis.fc-time::before {
  content: '';
  position: absolute;
  top: -29px;
  left: 4px;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid #304163;
  z-index: 1;
}

tr[data-time$="45:00"] td.fc-time::before,
tr[data-time$="30:00"] td.fc-time::before,
tr[data-time$="15:00"] td.fc-time::before {
  content: '';
  position: absolute;
  top: -19px;
  left: 15px;
  width: 34px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  z-index: 0;
}

/* Ligne blanche heure */
tr td.fc-axis.fc-time::after {
  content: '';
  position: absolute;
  width: 2px;
  background: white;
  left: 31px;
  z-index: 0;
  height: 100%;
  top: 0;
}

tr[data-time$="45:00"] td.fc-time span,
tr[data-time$="30:00"] td.fc-time span,
tr[data-time$="15:00"] td.fc-time span {
  top: -29px;
  font-size: x-small;
  font-weight: bold;
  color: #304163;
}

tr[data-time$="00:00"] td.fc-axis.fc-time span {
  font-size: medium;
  font-weight: bold;
  color: #304163;
}

tr[data-time^="08:00"] td.fc-axis.fc-time::before, tr[data-time^="08:00"] td.fc-axis.fc-time span {
  display: none;
}

.alert-info {
  background-color: white;
}

.fc-agenda-view .fc-day-grid .fc-row span {
  color: transparent;
}

.fc-day.fc-tue.fc-past {
  border: 0;
}

.table-bordered {
  border: 0;
}

.table-bordered > thead > tr > th {
  border: 0;
}

.table-bordered > thead > tr > td {
  border-bottom-width: 0;
}

.fc-head-container {
  box-shadow: 0 5px 15px -13px rgba(0, 0, 0, 0.75);
}

.fc th::first-letter {
  color: lightgrey;
}

/* COLUMN */
/* Stripped Grid */
.fc-slats td:not(.fc-time) {
  background: repeating-linear-gradient(
      to right,
      #fff,
      #fff 14.25%,
      #f5f6fa 14.25%,
      #f5f6fa 28.55%
  ) !important;
  background-position-x: 0;
}

.fc-content .fc-time, .fc-content .fc-title {
  display: none;
}

.event-from-api {
  width: 5px;
  margin-right: 0;
}

.event-from-api-valide {
  position: relative;
  margin-left: 4px;
  margin-right: -2px;
  border: 0;
  background: url('./../../../assets/img/tick.svg') 50% 50% no-repeat;
  background-size: 70%;
}

.event-from-api-valide::after svg {
  width: 15px;
  height: 15px;
}

.event-souhait {
  margin-left: 4px;
  margin-right: -2px;
  border: 0;
}

.fc-time-grid .fc-bgevent {
  left: 1px;
  right: 0;
  opacity: .8;
  border-radius: 4px;
}

/* BUTTONS */
.fc-state-default {
  border: 0;
  background: transparent none;
  text-shadow: 0;
  box-shadow: none;
  top: -2px;
}

.btn-profile {
  position: fixed;
  top: 8px;
  right: -4px;
  background-color: transparent;
  color: #304163;
  z-index: 4;
}

.persist-btn-group .btn {
  position: fixed;
  bottom: -1px;
  right: 50%;
  width: 50%;
  margin: 0;
  padding: 20px;
  color: #28385e;
  font-size: small;
  font-weight: bold;
  border: 0;
  border-top: 1px solid #f5f6fa;
  border-radius: 0;
  background-color: white;
  z-index: 100;
}

.persist-btn-group .btn:first-child {
  right: 0;
  border-left: 1px solid #f5f6fa;
}

