.fc-toolbar.fc-header-toolbar {
  background-color: white; 
}
.fc-toolbar h2 {
  color: #28385e;
  font-family: Nunito;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  margin-top: 25px;

}
.fc-header-toolbar {
  min-height: 65px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  margin-top: 50px; 
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  -ms-transform: translate(0,-25%);
  -o-transform: translate(0,-25%);
  transform: translate(0,-25%);
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}
/* .fc-day.fc-sun.fc-future{
    background-color: #ece8e1;
    
  } */
.fc-bg {
  height:0;
}
.fc-row.fc-week.panel-default{
  height:0;
}

.fc-agenda-view .fc-day-grid .fc-row {
  min-height: 0em; 
}

.alert-info{
  background-color: white;
}

/* .fc-day-header.fc-today{
  color: rgb(224, 32, 32);
} */

.fc-agenda-view .fc-day-grid .fc-row span{
  color: transparent;
} 

.fc-day.fc-tue.fc-past{
  border:0;
}
.table-bordered{
  border: 0;
}
.table-bordered > thead > tr > th {
  border: 0;
}
.glyphicon.glyphicon-chevron-right{
  color:#28385e;
  margin-top: 25px;
  
}
.fc-next-button.btn.btn-default{
  height: 0;
}
.glyphicon.glyphicon-chevron-left{
  color:#28385e;
  margin-top: 50px;
  float: right;
}
.fc-prev-button.btn.btn-default{
  height: 0;
}

.fc-row:first-child table {
  box-shadow: 0 5px 15px -13px rgba(0,0,0,0.75);
}

.table-bordered > thead > tr > td {
  border-bottom-width: 0;
}
.fc th::first-letter {
  color: grey;
}
/* .fc-time-grid.fc-unselectable span */
 

