<div class="container-fluid">
  <button class="btn btn-back" (click)="goBack()">&times;</button>
  <div class="row row-top">
    <div class="col circle-container">
      <div class="circle-indicator">80%</div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" class="loader">
        <circle class="progress-bg" fill="none" stroke-linecap="round" cx="20" cy="20" r="16" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" class="loader">
        <circle class="progress" fill="none" stroke-linecap="round" cx="20" cy="20" r="16" />
      </svg>
    </div>
    <div class="col" style="padding-top: 82px;">
      <p class="text-uppercase text-justify text" style="font-size: medium;line-height: 1;font-weight: 700;">de satisfaction<br>
        <span style="font-size: small">8 jan. au 14 jan. 2018</span></p>
      <p class="text-uppercase"><span style="font-size: x-small;font-weight: 700">mes pourcentages</span> &rarr;</p>
    </div>
  </div>

  <div class="row">
    <p class="text-uppercase" style="margin: 20px 30px 0;font-size:small;font-weight: bold">ma bourse d'échange</p>
    <div class="card">
      <div class="inverted-corner"></div>
      <div style="position: absolute;top: 2px;left: 8px;color: white;">&uarr;&darr;</div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-5">
            <div class="text-uppercase">mail</div>
            <div class="text-uppercase" style="color: steelblue;font-size: small;">auto-moto</div>
            <div class="text-uppercase" style="font-size: x-small">lundi 8 janvier</div>
          </div>
          <div class="col-3" style="font-size: small">
            <div>11:00</div>
            <div>11:30</div>
          </div>
          <div class="col-4">
            <button class="btn btn-outline-danger round">X</button> <button class="btn btn-outline-primary round">V</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inverted-corner"></div>
      <div style="position: absolute;top: 2px;left: 8px;color: white;">&uarr;&darr;</div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-5">
            <div class="text-uppercase">téléphone</div>
            <div class="text-uppercase" style="color: steelblue;font-size: small;">auto-moto</div>
            <div class="text-uppercase" style="font-size: x-small">mardi 9 janvier</div>
          </div>
          <div class="col-3" style="font-size: small">
            <div>09:00</div>
            <div>10:30</div>
          </div>
          <div class="col-4">
            <button class="btn btn-outline-danger round">X</button> <button class="btn btn-outline-primary round">V</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="inverted-corner"></div>
      <div style="position: absolute;top: 2px;left: 8px;color: white;">&uarr;&darr;</div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-5">
            <div class="text-uppercase">mission</div>
            <div class="text-uppercase" style="color: steelblue;font-size: small;">auto-moto</div>
            <div class="text-uppercase" style="font-size: x-small">mercredi 10 janvier</div>
          </div>
          <div class="col-3" style="font-size: small">
            <div>10:30</div>
            <div>12:00</div>
          </div>
          <div class="col-4">
            <button class="btn btn-outline-danger round">X</button> <button class="btn btn-outline-primary round">V</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <p class="text-uppercase">mon profil</p>
  <p class="text-capitalize">les étoiles montrent votre implication sur l'auto-positionnement et les échanges</p>
  <div style="margin: 20px 30px 0;">
    <svg width="35" height="35" viewBox="225 105 245 177"
               xmlns="http://www.w3.org/2000/svg" version="1.1">
    <polygon fill="white" stroke="grey" stroke-width="10"
             points="350,75  379,161 469,161 397,215
                      423,301 350,250 277,301 303,215
                      231,161 321,161">
    </polygon>
    </svg>
    <svg width="35" height="35" viewBox="225 105 245 177"
               xmlns="http://www.w3.org/2000/svg" version="1.1">
    <polygon fill="white" stroke="grey" stroke-width="10"
             points="350,75  379,161 469,161 397,215
                      423,301 350,250 277,301 303,215
                      231,161 321,161">
    </polygon>
    </svg>
    <svg width="35" height="35" viewBox="225 105 245 177"
               xmlns="http://www.w3.org/2000/svg" version="1.1">
    <polygon fill="white" stroke="grey" stroke-width="10"
             points="350,75  379,161 469,161 397,215
                      423,301 350,250 277,301 303,215
                      231,161 321,161">
    </polygon>
    </svg>
    <svg width="35" height="35" viewBox="225 105 245 177"
               xmlns="http://www.w3.org/2000/svg" version="1.1">
    <polygon fill="white" stroke="grey" stroke-width="10"
             points="350,75  379,161 469,161 397,215
                      423,301 350,250 277,301 303,215
                      231,161 321,161">
    </polygon>
    </svg>
    <svg width="35" height="35" viewBox="225 105 245 177"
               xmlns="http://www.w3.org/2000/svg" version="1.1">
    <polygon fill="#304163" stroke="grey" stroke-width="10"
             points="350,75  379,161 469,161 397,215
                      423,301 350,250 277,301 303,215
                      231,161 321,161">
    </polygon>
    </svg>
  </div>
  <button class="btn btn-link text-uppercase float-right">améliorer mes statistiques &rarr;</button>
</footer>

