@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

* {
  color: white;
}

/* Bordered form */
main {
  height: 100vh;
  /*border: 3px solid #304163;*/
  background: #304163 url('../../../assets/img/splashscreen.png') no-repeat;
  background-size: cover;
}

/* Full-width inputs */
input {
  display: inline-block;
  width: 100%;
  margin: 8px 0;
  padding: 10px 20px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 28px;
  background-color: transparent;
}

/* Extra style for the cancel button (red) */
.btn-cancel {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.login-logo {
  text-align: center;
  padding: 90px 0 12px;
}

.btn-login {
  width: 100%;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #304163;
  border-radius: 28px;
  background-color: #ffffff;
  margin: 8px 0;
  padding: 12px 20px;
}

.btn-login:hover {
  opacity: 0.8;
}
