@import "~fullcalendar/dist/fullcalendar.min.css";
@import "./assets/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700,700i,800,800i,900');
body {
  font-family: 'Nunito', sans-serif;
}
